[Desktop Entry]
Type=Application
Name=OpenM++
Exec=/opt/openmpp/1.16.0/bin/ompp_ui_linux.sh
Icon=/resources/openmpp.png
Terminal=false
Categories=Development;
