[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=Firefox
Comment=Browse the World Wide Web
Comment[fr]=Naviguer sure le Web
Exec=firefox
Terminal=false
X-MultipleArgs=false
Type=Application
Icon=/usr/lib/firefox/browser/chrome/icons/default/default128.png
Categories=GNOME;GTK;Network;WebBrowser;
StartupNotify=true;
