[Desktop Entry]
Name=Minio Desktop
Version=1.0
Type=Application
Terminal=false
Exec= sh /usr/bin/minio.sh %F
Icon=/resources/minio-icon.png
Path=
StartupNotify=false

