# This workflow will build a docker container, publish it to Azure Container Registry, and deploy it to Azure Kubernetes Service using a helm chart.
#
# https://github.com/Azure/actions-workflow-samples/tree/master/Kubernetes
#
# To configure this workflow:
#
# 1. Set up the following secrets in your workspace:
#     a. REGISTRY_USERNAME with ACR username
#     b. REGISTRY_PASSWORD with ACR Password
#     c. AZURE_CREDENTIALS with the output of `az ad sp create-for-rbac --sdk-auth`
#
# 2. Change the values for the REGISTRY_NAME, CLUSTER_NAME, CLUSTER_RESOURCE_GROUP and NAMESPACE environment variables (below).
name: build
on:
  push:
    branches:
      - '*'
      - '!master'

env:
  REGISTRY: dummy

jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        notebook:
          - RStudio
          - VSCode-CPU
          - VSCode-Spark
          - VSCode-PyTorch
          - VSCode-Tensorflow
          - JupyterLab-CPU
          - JupyterLab-Spark
          - JupyterLab-PyTorch
          - JupyterLab-Tensorflow
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@master
    - name: Free disk space
      run: |
        sudo swapoff -a
        sudo rm -f /swapfile
        sudo apt clean
        docker rmi $(docker image ls -aq)
        df -h

    # Container build and push to a Azure Container registry (ACR)
    - name: Build image
      run: |
        sudo apt-get install --yes make
        COMMIT=$(make get-commit)
        IMAGE_NAME="$(echo ${{ matrix.notebook }} | tr '[:upper:]' '[:lower:]')"
        REGISTRY=${{ env.REGISTRY }}
        echo
        cd output/${{ matrix.notebook }}
        docker build . --build-arg BASE_VERSION=$COMMIT -t kubeflow-image
        docker tag kubeflow-image ${{ env.REGISTRY }}/$IMAGE_NAME:${{ github.sha }}
        cd -

    # https://docs.github.com/en/free-pro-team@latest/actions/reference/workflow-commands-for-github-actions#setting-an-environment-variable
    - name: Set Env Vars
      run: |
        echo IMAGE_NAME="$(echo ${{ matrix.notebook }} | tr '[:upper:]' '[:lower:]')" >> $GITHUB_ENV

    # Scan image for vulnerabilities
    - uses: Azure/container-scan@v0
      with:
        image-name: ${{ env.REGISTRY }}/$IMAGE_NAME:${{ github.sha }}
        severity-threshold: CRITICAL
        run-quality-checks: false
