# This workflow will build a docker container, publish it to Azure Container Registry, and deploy it to Azure Kubernetes Service using a helm chart.
#
# https://github.com/Azure/actions-workflow-samples/tree/master/Kubernetes
#
# To configure this workflow:
#
# 1. Set up the following secrets in your workspace:
#     a. REGISTRY_USERNAME with ACR username
#     b. REGISTRY_PASSWORD with ACR Password
#     c. AZURE_CREDENTIALS with the output of `az ad sp create-for-rbac --sdk-auth`
#
# 2. Change the values for the REGISTRY_NAME, CLUSTER_NAME, CLUSTER_RESOURCE_GROUP and NAMESPACE environment variables (below).
name: build cpu
on:
  push:
    branches:
      - master
  pull_request:
    branches: 
      - master  # DEBUG

# Environment variables available to all jobs and steps in this workflow
env:
  REGISTRY_NAME: k8scc01covidacr
  CLUSTER_NAME: k8s-cancentral-01-covid-aks
  CLUSTER_RESOURCE_GROUP: k8s-cancentral-01-covid-aks
  LATEST_IMAGE_TAG: master
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@master

    # Connect to Azure Container registry (ACR)
    - uses: azure/docker-login@v1
      with:
        login-server: ${{ env.REGISTRY_NAME }}.azurecr.io
        username: ${{ secrets.REGISTRY_USERNAME }}
        password: ${{ secrets.REGISTRY_PASSWORD }}

    # DEBUG: Removed for debugging
    # - name: Free disk space
    #   run: |
    #     sudo swapoff -a
    #     sudo rm -f /swapfile
    #     sudo apt clean
    #     docker rmi $(docker image ls -aq)
    #     df -h

    # Container build and push to a Azure Container registry (ACR)
    - name: Base Notebook CPU
      id: base_notebook_cpu
      working-directory: ./base-notebook/
      run: |
        # Get upstream image from build_settings.env
        (source ../build_settings.env && \
         ../.github/workflows/build_push.sh --registry "${{ env.REGISTRY_NAME }}.azurecr.io \
                                            --image_name base-notebook-cpu \
                                            --tag_pinned ${{ github.sha }} \
                                            --tag_latest ${{ env.LATEST_IMAGE_TAG }} \
                                            --base_container UPSTREAM_CONTAINER_CPU \
                                            --push
        )

    # # Scan image for vulnerabilities
    # - uses: Azure/container-scan@v0
    #   with:
    #     image-name: ${{ env.REGISTRY_NAME }}.azurecr.io/base-notebook-cpu:${{ github.sha }}
    #     severity-threshold: CRITICAL
    #     run-quality-checks: false

    # Container build and push to a Azure Container registry (ACR)
    - name: Minimal Notebook CPU
      id: minimal_notebook_cpu
      working-directory: ./minimal-notebook/
      run: |
        ../.github/workflows/build_push.sh --registry "${{ env.REGISTRY_NAME }}.azurecr.io \
                                           --image_name minimal-notebook-cpu \
                                           --tag_pinned ${{ github.sha }} \
                                           --tag_latest ${{ env.LATEST_IMAGE_TAG }} \
                                           --base_container ${{ steps.base_notebook_cpu.outputs.tag_pinned }} \
                                           --push


    # # Scan image for vulnerabilities
    # - uses: Azure/container-scan@v0
    #   with:
    #     image-name: ${{ env.REGISTRY_NAME }}.azurecr.io/minimal-notebook-cpu:${{ github.sha }}
    #     severity-threshold: CRITICAL
    #     run-quality-checks: false

    # Container build and push to a Azure Container registry (ACR)
    - name: Geomatics Notebook CPU
      id: geomatics_notebook_cpu
      working-directory: ./geomatics-notebook/
      run: |
        ../.github/workflows/build_push.sh --registry "${{ env.REGISTRY_NAME }}.azurecr.io \
                                           --image_name geomatics-notebook-cpu \
                                           --tag_pinned ${{ github.sha }} \
                                           --tag_latest ${{ env.LATEST_IMAGE_TAG }} \
                                           --base_container ${{ steps.minimal_notebook_cpu.outputs.tag_pinned }} \
                                           --push

    # # Scan image for vulnerabilities
    # - uses: Azure/container-scan@v0
    #   with:
    #     image-name: ${{ env.REGISTRY_NAME }}.azurecr.io/geomatics-notebook-cpu:${{ github.sha }}
    #     severity-threshold: CRITICAL
    #     run-quality-checks: false

    # # Container build and push to a Azure Container registry (ACR)
    # - run: |
    #     # Machine Learning Notebook CPU
    #     docker build -f machine-learning-notebook/cpu/Dockerfile -t ${{ env.REGISTRY_NAME }}.azurecr.io/machine-learning-notebook-cpu:${{ github.sha }} .
    #     docker push ${{ env.REGISTRY_NAME }}.azurecr.io/machine-learning-notebook-cpu:${{ github.sha }}
    #     docker tag ${{ env.REGISTRY_NAME }}.azurecr.io/machine-learning-notebook-cpu:${{ github.sha }} ${{ env.REGISTRY_NAME }}.azurecr.io/machine-learning-notebook-cpu:${{ env.LATEST_IMAGE_TAG }}
    #     docker push ${{ env.REGISTRY_NAME }}.azurecr.io/machine-learning-notebook-cpu:${{ env.LATEST_IMAGE_TAG }}

    # # Scan image for vulnerabilities
    # - uses: Azure/container-scan@v0
    #   with:
    #     image-name: ${{ env.REGISTRY_NAME }}.azurecr.io/machine-learning-notebook-cpu:${{ github.sha }}
    #     severity-threshold: CRITICAL
    #     run-quality-checks: false

    # # Container build and push to a Azure Container registry (ACR)
    # - run: |
    #     # R-Studio CPU
    #     docker build -f r-studio/Dockerfile -t ${{ env.REGISTRY_NAME }}.azurecr.io/r-studio-cpu:${{ github.sha }} r-studio
    #     docker push ${{ env.REGISTRY_NAME }}.azurecr.io/r-studio-cpu:${{ github.sha }}
    #     docker tag ${{ env.REGISTRY_NAME }}.azurecr.io/r-studio-cpu:${{ github.sha }} ${{ env.REGISTRY_NAME }}.azurecr.io/r-studio-cpu:${{ env.LATEST_IMAGE_TAG }}
    #     docker push ${{ env.REGISTRY_NAME }}.azurecr.io/r-studio-cpu:${{ env.LATEST_IMAGE_TAG }}

    # # Scan image for vulnerabilities
    # - uses: Azure/container-scan@v0
    #   with:
    #     image-name: ${{ env.REGISTRY_NAME }}.azurecr.io/r-studio-cpu:${{ github.sha }}
    #     severity-threshold: CRITICAL
    #     run-quality-checks: false
