# This workflow will build a docker container, publish it to Azure Container Registry, and deploy it to Azure Kubernetes Service using a helm chart.
#
# https://github.com/Azure/actions-workflow-samples/tree/master/Kubernetes
#
# To configure this workflow:
#
# 1. Set up the following secrets in your workspace:
#     a. REGISTRY_USERNAME with ACR username
#     b. REGISTRY_PASSWORD with ACR Password
#     c. AZURE_CREDENTIALS with the output of `az ad sp create-for-rbac --sdk-auth`
#
# 2. Change the values for the REGISTRY_NAME, CLUSTER_NAME, CLUSTER_RESOURCE_GROUP and NAMESPACE environment variables (below).
name: push
on:
  push:
    branches:
      - master

# Environment variables available to all jobs and steps in this workflow
env:
  REGISTRY: k8scc01covidacr.azurecr.io
  REGISTRY_NAME: k8scc01covidacr
  CLUSTER_NAME: k8s-cancentral-01-covid-aks
  CLUSTER_RESOURCE_GROUP: k8s-cancentral-01-covid-aks
jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        notebook:
          - JupyterLab-CPU
          - JupyterLab-PyTorch
          - JupyterLab-Tensorflow
          - RStudio
          - JupyterLab-CPU-OL-compliant     
    runs-on: ubuntu-latest
    services:
      registry:
        image: registry:2
        ports:
          - 5000:5000
    steps:
    - uses: actions/checkout@master
    - name: Add SHORT_SHA env property with commit short sha
      run:  echo "SHORT_SHA=`echo ${GITHUB_SHA} | cut -c1-8`" >> $GITHUB_ENV

    - name: Test output folder
      run: |
        sudo apt-get install --yes make
        make all
        if ! git diff --quiet output/; then
            echo 'output folder and docker-bits/resources out of sync!'
            exit 1
        fi

    # Connect to Azure Container registry (ACR)
    - uses: azure/docker-login@v1
      with:
        login-server: ${{ env.REGISTRY_NAME }}.azurecr.io
        username: ${{ secrets.REGISTRY_USERNAME }}
        password: ${{ secrets.REGISTRY_PASSWORD }}

    # Container build and push to a Azure Container registry (ACR)
    - name: Build image
      run: |
        make all
        COMMIT=$(make get-commit)
        echo
        cd output/${{ matrix.notebook }}
        docker build . --build-arg BASE_VERSION=$COMMIT -t localhost:5000/kubeflow-image:$SHORT_SHA
        docker push localhost:5000/kubeflow-image:$SHORT_SHA
        docker rmi localhost:5000/kubeflow-image:$SHORT_SHA
        docker image prune
        cd -

    # Scan image for vulnerabilities
    - uses: Azure/container-scan@v0
      with:
        image-name: localhost:5000/kubeflow-image:${{ env.SHORT_SHA }}
        severity-threshold: CRITICAL
        run-quality-checks: false

    # Container push to a Azure Container registry (ACR)
    - name: Push image
      run: |
        echo Repull the image
        docker pull localhost:5000/kubeflow-image:$SHORT_SHA
        docker tag localhost:5000/kubeflow-image:$SHORT_SHA kubeflow-image
        echo
        IMAGE_NAME="$(echo ${{ matrix.notebook }} | tr '[:upper:]' '[:lower:]')"
        REGISTRY=${{ env.REGISTRY }}
        echo
        docker tag kubeflow-image $REGISTRY/$IMAGE_NAME:$SHORT_SHA
        docker tag kubeflow-image $REGISTRY/$IMAGE_NAME:${GITHUB_REF#refs/*/}
        docker tag kubeflow-image $REGISTRY/$IMAGE_NAME:latest
        echo
        docker push $REGISTRY/$IMAGE_NAME:$SHORT_SHA
        docker push $REGISTRY/$IMAGE_NAME:${GITHUB_REF#refs/*/}
        docker push $REGISTRY/$IMAGE_NAME:latest
        echo
        echo "Pushed $REGISTRY/$IMAGE_NAME:$SHORT_SHA"
        echo "       $REGISTRY/$IMAGE_NAME:${GITHUB_REF#refs/*/}"
        echo "       $REGISTRY/$IMAGE_NAME:latest"
